<div class="favorited-header">
  <h1>Your Favorites</h1>
  <button mat-icon-button class="hover-close-button">
    <mat-icon [mat-dialog-close]="true">close</mat-icon>
  </button>
</div>
<div class="favorited-wrapper">
  <mat-card *ngFor="let movie of active;" class="favorited-card">
    <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
    </mat-card-header>
    <img style="width: 250px;" src={{movie.ImagePath}} alt={{movie.Title}} />
    <mat-card-actions style="align-items: center; display: flex; flex-direction: column-reverse;">
      <button mat-icon-button aria-label="remove movie from favorites"
        (click)="deleteMovieFromFavorites(movie._id, movie.Title, movie)">
        <mat-icon aria-label="trash icon" class="trash-button">delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>