.movie-poster-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-poster {
  width: 30%; 
  height: auto;
}

@media only screen and (max-width: 645px) {
  .movie-poster {
    width: 100%; 
    height: auto;
  }
}